/* 
<div class="testimonial">
                    <div>
                        <figure>
                            <img src="<?php echo _i( 'temp/person.png'); ?>" alt="" />
                        </figure>
                        <h3>Brian Watson</h3>
                        <p>Company</p>
                    </div>
                    <div class="stars">
                        <i class="fa-solid fa-star">
                        <i class="fa-solid fa-star">
                        <i class="fa-solid fa-star">
                        <i class="fa-solid fa-star">
                    </div>
                    <p>Everything is explained and double checked everyone knows what the need to do for the…</p>
                </div>
*/ 


.slick-wrapper {
    
}

.slick-track {
   display: flex;
}

.slick-container {
	width: 100%;
}

.testimonial--slider {

   

    margin-top: 1em;
    width: 100%;
    overflow: hidden;
    .slick-track {
        display: flex;
    }
    .testimonial {
        &:not(:last-of-type) {
            margin-right: 15px;
        }
    }
}

.testimonial {
    background: $white;
    transition: background .2s ease-in-out;
    padding: 20px;

    &:hover {
        background: rgba(255,255,255,.9);
    }

   text-decoration: none;

    figure {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @extend .u-ofc;
        margin-right: 10px;
    }

    div {
        display: flex;
        align-items: center;
    }

    h3 {
        color: $dark;
        font-weight: $semibold;
        span {
            display: block;
            color:#B4B4B4;
            font-weight: 400;
            font-size: 1.6rem;
        }
    }
    p {
        font-size: 1.6rem;
        color: $dark;
        margin: 0;
    }
    .stars {
        margin: 5px 0;
    }
}

.stars {
    display: flex;
    > * {
        margin-right: 3px;
        color: #F4B92D;
        font-size: 1.6rem;
    }
}


/* ==== Success Stories 

 <div class="stories__slide">
                    <div>
                        <header>
                            <h3>John Doe</h3>
                        </header>
                        <p>Jon Role</p>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at mi tristique, lobortis turpis pretium, placerat metus. Cras at imperdiet tellus. Morbi at elementum nunc, et blandit mauris. Aliquam imperdiet gravida nunc, vel consequat diam mattis eget aliquam posuere vitae.”</p>
                    </div>
                    <figure>
                        <img src="<?php echo _i( 'temp/person.png'); ?>" alt="" />
                    </figure>
                </div>

*/  

.stories--header {
    @extend .type--subs-45;
    color: $white;
    margin-bottom: 0em;
    @media screen and (max-width:768px) {
        text-align: center;
        margin-bottom: 1em;
    }
}

.stories-slider {

    

    margin: 0 auto;

    @media screen and ( min-width: 768px ) {
        margin-top: -100px;
    }

    .section--stories-alt & {
        @media screen and ( min-width: 768px ) {
            margin-top: -120px;
        }
    }

    position: relative;

    .slick-arrow {
        width: 57px;
        height: 57px;
        background: $brand;
        border-radius: 50%;
        position: absolute;
        top: 50%;
       
        font-size: 2.7rem;
        border: none;
        z-index: 111;
        color: $white;
        &.slick__prev {
            left: 0;
            transform: translateY(-50%) translateX(-100px);
        }

        &.slick__next {
            right: 0;
            transform: translateY(-50%) translateX(100px);
        }

        &:hover {
            background-color: $white;
            color: #000;
        }
    }

         .section--stories-alt & {
            @media screen and ( min-width: 1200px ) {
                .slick-arrow {
            &.slick__prev {
            
                transform: translateY(-50%) translateX(-150px);
            }

            &.slick__next {
                transform: translateY(-50%) translateX(150px);
            }
        }
        }
    }
}

.stories__slide {


    display: flex;
    flex-direction: column;

    aside,
    figure {
        order: 1;
        margin-bottom: 2em;
        text-align: center;
    }
    div {
        order: 2;
    }

    h3 {
        color: $brand;
        @extend .type--subs-30;
        margin-bottom: .5em;
    }

    p {
        color: $white;
    }

    @media screen and ( min-width: 768px ) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .stories-slider--alt & {
            align-items: center;
            h3 {
                padding-top: 15px;
            }
        }

        h3 {
            padding-top: 120px;
           
        }

        div {
            flex-basis: 55%;
            order: 1;
        }
        aside,
        figure {
            flex-basis: 45%;
            order: 2;
            margin-bottom: 0;
        }

        aside {
            max-width: 418px;
        }

        &.stories__slide--count {
            align-items: center;
        }
    }

    @media screen and ( min-width: 1200px ) {
        div {
            flex: 1;
            margin-right: 2em;
            max-width: 729px;
        }
        aside,
        figure {
            flex: 1;
            min-width: 500px;
            max-width: 500px;
            text-align: right;
        }

        aside {
            min-width: 418px;
            max-width: 418px;
        }
    }


    .story__value {
        width: 330px;
        height: 342px;
        background-image: url('../img/success-count.png');
        background-size: contain;
        background-repeat: no-repeat;
       
        margin-right: 0;
        margin-bottom: 2em;
        position: relative;
        @media screen and ( min-width: 768px ) {
            margin-bottom: 0;
        }
        @media screen and ( min-width: 1200px ) {
            width: 418px;
            height: 469px;
        }
        color: $white;
        font-size: 7.9rem;
        line-height: 7.7rem;
        display: block;
        font-weight: $semibold;
        
        span {
            color: $dark;
            font-size: 3.5rem;
            line-height: 1;
            padding-left: 65px;
        }

        strong {
            position: absolute;
            top: 60px;
            left: 0;
            
            text-align: left;
        }

        @media screen and ( min-width: 1200px ) {
            font-size: 10.9rem;
            line-height: 10rem;
            span {
                font-size: 4.9rem;
                transform: translateY(5px);
            }

            strong {
                top: 75px;
            }

        }
        
        .story__percentage {
            position: absolute;
            bottom: 142px;
            left: 15px;
            color: $white;
            font-size: 4.6rem;
            line-height: 4.6rem;
            @media screen and ( max-width: 1280px ) {
                bottom: 75px;
                left: -5px;
                font-size: 3.6rem;
            }
        }

    }

  


}