.u-tac {
    text-align: center;
}

.capped {
    max-width: 1024px;
    margin: 0 auto;
}

.u-ofc {
    position: relative;
    overflow: hidden;
    > * {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.d-hide {
    @media screen and ( min-width: 1024px ) {
        display: none !important;
    }
}